<div class="container">
	<div class="row">
		<div class="span6">
		
	<h3 itemprop="name">Booking Details</h3>
        <p style="color: rgb(51, 51, 51); font-size: 16px;">Location: <strong>Standard Parking <span style="font-size: 30px; position: relative; line-height: 0px; bottom: -6px;"></span></strong></p>
    	<dl class="info">
		<b>ADDRESS:</b>
		<span itemprop="address">149 Newbury Street , Boston, MA 02116 </span>
		<br />
		<b>Phone:</b>
		<span itemprop="telephone">617.424.0131 </span>
		<br/>
		<b>Start Date</b> <span> Start Date</span> &nbsp;&nbsp; <b>End Date</b> <span>End Date</span>
		<br/>
		<b>Start Time</b> <span> Start Time</span> &nbsp;&nbsp; <b>End Time</b> <span>End Time</span>
			</dl>
		
	    <img class="logo-standard" src="../img/location-detail/standard-logo.jpg" alt="" itemprop="logo" height="78" width="156">
	    <br class="clear">
        	
	<div class="location-detail-table">
		<h3>Location Details</h3>

		<table class="location-detail-table-complement" border="0" cellpadding="0" cellspacing="0">
			<tbody><tr>
				<td width="177">HOURS OF OPERATION:</td>
                                <td itemprop="openingHours" width="350">24/7</td>
			</tr>
			<tr>
				<td width="177">INDOORS/OUTDOORS:</td>
				<td width="350">
				Outdoors

				</td>
			</tr>
			<tr>
				<td width="177">Payments accepted:</td>
                                <td itemprop="paymentAccepted" width="350">
				Visa, Mastercard, Discover, American Express
			</td>
			</tr>
			<tr>
				<td width="177">service type:</td>
				<td width="350">
				Valet

			</td>
			</tr>
						<tr>
				<td width="177">Motorcycle Allowed:</td>
				<td width="350">
				No
			</td>
			</tr>
			
		</tbody></table>
		<br/>
		<p>
<button class="btn btn-primary" type="button">Confirm Booking</button>
<button class="btn btn-mini" type="button">Cancel</button>
</p>
	</div>
	
		</div>
		<div class="span6">
			<img src="http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&maptype=roadmap&markers=color:green%7Clabel:P%7C13.012802936299424,80.20887225866318&sensor=false" />  

		</div>
	</div>
</div>