<%= form_for(@parking_lot_booking) do |f| %>
<div id="tab" class="btn-group" data-toggle="buttons-radio">
    <a href="#prices2" class="btn btn-large btn-info active" data-toggle="tab">Daily</a>
    <a href="#features2" class="btn btn-large btn-info" data-toggle="tab">Monthly</a>
    </div>
    <div class="tab-content">
    	<div class="tab-pane active" id="prices2">
    	<br/>
    <div class="row">
    <div class="span12">
    <div class="searchBarControls">
  				<div class="field">
  					<input type="text" class="search-query" placeholder="Search parking by address, city, neighborhood, landmark or zip code">
  					<br />
  				</div>
  	  <br />
	  <div class="container">
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span6">
					<span align="center">Date</span> <br/>
					<div id="datetimepicker2" class="input-append">
    				<%=f.text_field :start_date, :as => :string , "data-format" => "MM/dd/yyyy PP"%>
    				<span class="add-on">
	      			<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
	    			</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	    <a href="#" class="btn btn-success active"><i class="icon-white icon-search"></i> Search</a>
    </div>
    
    </div>
    </div>
    </div>
    
    
    
    
    <div class="tab-pane" id="features2">
    	<br/>
    <div class="row">
    <div class="span12">
    <div class="searchBarControls">
  				<div class="field">
  					<input type="text" class="search-query" placeholder="Search parking by address, city, neighborhood, landmark or zip code">
  					<br />
  				</div>
  	 <br />
	  <div class="container">
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span6">
					<span align="center">Start Date</span> <br/>
					<div id="datetimepicker2" class="input-append">
    				<%=f.text_field :start_date, :as => :string , "data-format" => "MM/dd/yyyy PP"%>
    				<span class="add-on">
	      			<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
	    			</span>
					</div>
				</div>
				<div class="span6">
					<span align="center">End Date</span> </br/>
					<div id="datetimepicker2" class="input-append">
    				<%=f.text_field :end_date, :as => :string , "data-format" => "MM/dd/yyyy PP"%>
    				<span class="add-on">
	      			<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
	    			</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	    <a href="#" class="btn btn-success active"><i class="icon-white icon-search"></i> Search</a>
    </div>
    </div>
    </div>
    </div>
    

<% end %>