<h1>This is search listing page</h1>
<h1>Listing parking_spaces</h1>
<table class="table  table-bordered zebra-striped">
  <tr>
    <th>Location address</th>
    <th>Location x</th>
    <th>Location y</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parking_spaces.each do |parking_space| %>
  <tr>
    <td><%= parking_space.location_address %></td>
    <td><%= parking_space.location_x %></td>
    <td><%= parking_space.location_y %></td>
    <td><%= parking_space.user.email %></td>    
  </tr>
<% end %>
</table>
<br />