@import "bootstrap";
@import "bootstrap-responsive";

body {
	background: #555
}

[class^="icon-"], [class*=" icon-"] {
  background-image: url(/assets/glyphicons-halflings.png)
}
[class^="icon-white"], [class*=" icon-white"] {
  background-image: url(/assets/glyphicons-halflings-white.png)
}